
gyro_data/.gyro_33HzLP_new.csv.icloud

gyro_data/.gyro_33HzLP.log.icloud

gyro_data/.gyro_data2_new.csv.icloud

gyro_data/.gyro_data2.csv.icloud

*.icloud

*.m~

MATLAB/figures/.DS_Store

MATLAB/figures/comparison_str_ts/.DS_Store

MATLAB/figures/comparison_str_ts/incl_str_delay/.DS_Store

MATLAB/kalman_filter/.DS_Store

MATLAB/kf_logs/gyro_log_081019_13_53/.DS_Store

MATLAB/simulink/
